@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/*Cor da letra, fonte e cor da página*/
body {
    color: white;
    background: linear-gradient(90deg, hsla(296, 100%, 6%, 1) 0%, hsl(5, 90%, 24%) 100%); 
    font-family: "Lora", "Baskervville SC", sans-serif;
} 
.conteudo {
    font-family: "Lora";
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
}
.name {
    font-family: "Baskervville SC";
    font-weight: 400;
    font-style: normal;
  }  
/*Ajustando o texto, espaçamento e centralizando as palavras*/
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    transition: color 0.3s, background-color 0.3s;
}
/*Detalhe na introdução da página e meio*/
a:hover {
    color: #CC0000;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}
/*Editando a foto central do index*/
.imgcenter {
    width: 120px;
    height: 160px;
    border-radius: 50%;
    border: 5px solid  #920a1e;
}
/*Criando a classe e centralizando*/
.center {
    text-align: center;
}
/*Estilizando os hs*/
h1,h3 {
    color: #920a1e;
    font-family: "Baskervville SC";
    font-weight: 400;
    font-style: normal;
}
h2 {
    font-family: "Lora";
    font-weight: 400;
    font-style: normal;
}
/*Centralizando*/
.container {
    padding: 0 20px;
    position: relative;
}
/*Icones*/
.img-icones {
    width: 80px;
    height: 60px;
    object-fit: contain; /* Mantém a imagem nítida */
}
.img-project {
    width: 160px;
    height: 130px;
    margin-left: 20px; /* Adiciona espaço à esquerda da imagem */
    margin-right: 20px;  /* Espaço fixo entre a imagem e o texto */
    border: 4px solid #000000;
}
/*Designer do projeto*/
.project {
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
    max-width: 900px;
}
.project-item {
    display: flex;
    align-items: flex-start; /* Alinha a imagem e o texto no topo */
    margin-bottom: 20px; /* Espaçamento entre os itens do projeto */
} 
/*Ajustes do designer do relógio*/
.relogio-container {
    position: absolute;
    right: 2%; /* Ajusta a distância do lado direito da página */
    top: 20%;
    transform: translateY(-50%);
}
#clock {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #000000;
    display: inline-block;
    background-color: rgb(116,15,6);
    border-radius: 5px;
    width: 150px;
    max-width: 150px;
    box-sizing: border-box;
}
/*Configuração para telas menores*/
@media (max-width: 600px) {
    .relogio-container {
        right: 2%; /* Ajusta a distância do lado direito em telas menores */
        top: 10%; /* Ajusta a distância do topo em telas menores */
    }
    #clock {
        font-size: 1.2em; /* Ajusta o tamanho do texto em telas menores */
        padding: 0.5em; /* Ajusta o preenchimento em telas menores */
        width: 90%; /* Ajusta a largura para telas menores */
    }
}
/*Carrossel*/
.carousel-item {
    display: none;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 500px; /* Altura fixa para o item do carrossel */
    width: 100%; /* Largura total */
    text-align: center; /* Alinhamento do conteúdo */
}
.carousel-item.active {
    display: flex;
}

.carousel-inner {
    position: relative; /* Configura o posicionamento relativo */
    width: 100%; 
    height: 100%; 
}

.carousel-inner img {
    display: block; /* Imagens como blocos */
    max-height: 300px; /* Define uma altura máxima  */
    max-width: 100%; /* Mantém a responsividade horizontal */
    margin: auto; /* Centraliza horizontalmente e verticalmente */
    object-fit: contain; /* Garante as proporções das imagens  */
    border-radius: 10px; /* Bordas arredondadas */
}
/*Rodapé*/
.rodape {
    padding: 20px;
    text-align: center;
}